<div class="jumbotron">
  <h1>ElectroShack</h1>
  <h3>Offering the latest products on the interwebs</h3>
</div>
<h1>Customer index</h1>
<% @customers.each do |c| %>
  <div class="row">
    <div class="col-md-2">
      <h4><%= c.id %>. <%= c.first_name %> <%= c.last_name %></h4>
    </div>
    <div class="col-md-2">
      <h4><%= link_to "Customer Detail", customer_path(c) %></h4>
    </div>
  </div>

<% end %>

